#choropleth_map {

	left: 100px;
	right: 100px;
	height: 500px;
	width: 800px;
}

#chart1 {

	left: 100px;
	right: 100px;
	height: 500px;
	width: 800px;
}

#chart2 {

	left: 100px;
	right: 100px;
	height: 500px;
	width: 800px;
}

#chart3 {

	left: 100px;
	right: 100px;
	height: 500px;
	width: 800px;
}

#chart4 {

	left: 100px;
	right: 100px;
	height: 500px;
	width: 800px;
}

body{
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	height: 100%;
	width: 100%;
	overflow-x: hidden
}

#grid{
	display: grid;
	grid-template-columns: 50% 50%;
	column-count: 2;
	column-gap: 40px;
	column-width: 400px;
}